* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #1C1C1C;
  font-style: italic;
}

a {
  color: #1C1C1C;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#triangle-contents {
  position: relative;
  top: -700px;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 700px solid;
  color: red;
}

#play-button {
  position: relative;
  /*top: -350px;*/
  margin: auto;
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-left: 100px solid green;
	border-bottom: 60px solid transparent;
}

#volume-down-triangle {
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid;
  color: green;
}

#volume-up-triangle {
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid;
  color: green;
}

#start {
  position: relative;
  left: -95px;
  top: -46px;
}
